<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/principal}">
<head>
<meta charset="UTF-8" />
<title>Relatórios Online</title>
	<style>
			body, input{
				font-family: Calibri, Arial;
				margin: 0px;
				padding: 0px;
			}
			a { color: #0254EB	}
			a:visited {		color: #0254EB }
			#header h2 {
				color: white;
				margin:0px;
				padding: 5px; 	}
			.comment {
				width: 640px;
				margin: 0px;	}
			a.morelink {text-decoration:none;
				outline: none;		}
			.morecontent span {	display: none; }
	</style>

</head>
<body class="hold-transition skin-blue sidebar-mini">

	<div class="container-fluid" layout:fragment="conteudo">
		<section class="content-header">
			<h1>
				Seja bem vindo ao Sistema Serviços Gerais! <small>Dashboard v0.1.10</small>
			</h1>
		</section>

		<section class="content">
		
		</section>
	</div>
</body>
</html>